/* ----------FONTS---------- */
@font-face {
  font-family: "SongerEB C";
  src: local("Songer"), url("../fonts/SONGER_C_ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SongerR C";
  src: local("Songer"), url("../fonts/SONGER_C_Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SongerEB G";
  src: local("Songer"), url("../fonts/SONGER_G_Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SongerR G";
  src: local("Songer"), url("../fonts/SONGER_G_Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SongerEB SE";
  src: local("Songer"), url("../fonts/SONGER_SE_ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SongerR SE";
  src: local("Songer"), url("../fonts/SONGER_SE_Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "LinBiolinum";
  src: local("Linux Biolinum"), url("../fonts/LinBiolinum_R.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

/* ----------GLOB---------- */

:root {
  --violet-dark: #7943A4;
  --violet-middle: #9D5CD0;
  --violet-ultra-light: #D1A9F0;
  --violet-light: #C283F3;
  --white: #ffffff;
  --gray--light: #ECECEC;
  --light-middle-gray: #CACACA;
  --gray: #C4C4C4;
  --gray-medium: #999999;
  --gray-dark: #666666;
  --gray-ultra-dark: #333333;
  --black: #000000;
  --red: #D11616;
  --bg-gray: #EAEAEA;
  --black: #101010;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-gray);
  font-family: 'LinBiolinum', Courier, monospace;
  color: var(--black);
}

header {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);

  .header__name {
    font-family: 'SongerEB G', Courier, monospace;
    font-size: 2rem;
    border-right: 2px solid var(--black);
    padding: 10px 20px;
  }

  .header__quote {
    font-family: 'SongerR SE', Courier, monospace;
    font-size: 1.2rem;
    margin: 0 auto;
  }
}

.hero {
  display: flex;
  height: 100vh;
  border-bottom: 2px solid var(--black);

  .hero__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50vw;
    overflow: hidden;
    border-right: 2px solid var(--black);

    span {
      font-family: 'SongerEB G', Courier, monospace;
      font-size: 30rem;
      margin-left: -60px;
      letter-spacing: -1rem;
    }

    .hero__quote {
      font-family: 'SongerR SE', Courier, monospace;
      padding: 0 2vw 1vh 2vw;
      line-height: 125%;
    }
  }

  .hero__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 50vw;

    .hero__card__quote_top {
      border-bottom: 2px solid var(--black);
    }

    .hero__card__quote_bottom {
      border-top: 2px solid var(--black);
    }

    @keyframes ticker {
      0% {
        transform: translate(100%, 0);
      }
    
      100% {
        transform: translate(-227%, 0);
      }
    }

    .hero__card__quote_top, .hero__card__quote_bottom {
      height: 4vh;
      width: 100%;
      max-width: 50vw;
      position: relative;
      overflow: hidden;
      font-family: 'SongerR SE', Courier, monospace;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        transform: translate(100%, 0);

        p {
          white-space: nowrap;
        }
      }

      $duration: 20s;

      .ticker-wrapper__first-half, .ticker-wrapper__second-half {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 1vh;
        right: 0;
        animation: ticker $duration infinite linear forwards;
      }
    
      .ticker-wrapper__second-half {
        animation: $duration ticker $duration/2 infinite linear forwards;
      }
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .rotating {
    animation: rotating 200s linear infinite;
  }
   
  .circular {
    position: absolute;
    top: 12%;
    display: flex;
    justify-content: center;
    width: 100%;
  
    textPath {
      font-family: 'SongerR G', Courier, monospace;
      font-size: 0.5rem;
    }
  }
  
  .circular svg {
    display: block;
    overflow: visible;
    width: 74%;
    animation: rotating 10s linear infinite;
  }
}

.avatar {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;

  img {
    max-width: 45%;
    z-index: 1;
  }
}

.transition {
  width: 100%;
  padding: 6vh 2vw;
  font-family: 'SongerEB SE', Courier, monospace;
  

  .where {
    font-size: 5rem;
    margin-right: 2vw;
  }

  .my {
    font-size: 7rem;
    margin-right: 2vw;
  }

  .knife {
    font-size: 9rem;
  }
}

.quotes {
  border-top: 2px solid var(--black);
  margin-bottom: 5vh;

  .quote-block {
    display: flex;
    min-height: 46vh;

    .quote-block__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 70vw;
      border-right: 2px solid var(--black);
      border-bottom: 2px solid var(--black);
      padding-top: 6vh;

      .quote-block__date {
        font-family: 'SongerEB G', Courier, monospace;
        font-size: 4rem;
        padding: 1vh 2vw;
        margin-bottom: 1vh;
      }

      .quote-block__list__item {
        font-size: 1.15rem;
        padding: 2vh 8vw;
        border-bottom: 2px solid var(--black);
        position: relative;

        a {
          text-decoration: underline;
        }

        span {
          position: absolute;
          top: calc(50% - 0.5rem);
          left: 4vw;
        }
      }

      .quote-block__list__item:last-child {
        padding-top: 3vh;
        margin-bottom: 5vh;
        border: none;
      }
    }

    .quote-block__icon {
      padding: 2vw;
      img {
        height: 4vh;
      }
      
    }
  }

  .avatar {
    align-items: center;
    height: auto;
    border-bottom: 2px solid var(--black);
    max-width: 40vw;

    img {
      object-fit: cover;
      max-width: unset;
      width: 38vh;
      height: 38vh;
      background-image: url("../img/kitchen.jpg");
    }
  }
}

footer {
  font-family: 'SongerR SE', Courier, monospace;
  font-size: 3rem;
  padding: 5vh 20vh 20vh;
  
  button {
    margin-bottom: 2vh;
  }
}
